.app{
    background-color: #8c94cc;
    text-align: center;
    font-size: larger;
    color: #322c4f;
    padding-top: 5px;
}

.italics{
    font-style: italic;
}

.toggle-components{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95%;
    width: 100%;
}